@font-face {
    font-family: "Mplus 1p";
    src: url("../media/fonts/M_PLUS_1p/MPLUS1p-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url("../media/fonts/Inter/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../media/fonts/Inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Open Sans";
    src: url("../media/fonts/Open_Sans/static/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
}