$back-1: #FCFBF6;
$back-2: rgba(102, 102, 102, 0.5);

$text-white: #FFFFFF;
$text-black: #000000;

$element-red: #E74C3C;

$containerWidth: 128.2rem  + 2;
$containerPhone: 28rem + 2;
$wrapperWidth: 144rem;